<header>
    <h1 class="home header accessAid">basic header info</h1>
    <nav>
        <ul>
            <li id="home">TRAVEL BOARD</li>
            <li id="settings" class="accessAid"><a href="#">Settings</a></li>
            <li id="about"><a href="afs.html">About</a></li>
        </ul>
    </nav>
</header>
<section>
    <div id="origin">
        <h3 class="originName">SEPTA</h3>
        <div class="newLocation"></div>
        <div><a href="#"  class="currentLocation"></a></div>
    </div>
</section>
<section>
    <div id="destinationList">
        <ul>
            <li class="location">
                <dl class="origin">
                    <dt class="accessAid">
                        <div>Destination</div>
                        <div>Status</div>
                        <div>Must Leave By</div>
                        <div>Should Arrive By</div>
                        <div>Control</div>
                        <div>Steps</div>
                    </dt>
                    <dt id="header">
                            <h3 class="listItem placeName">Azavea</h3>
                            <div class="listItem statusTags"></div>
                            <div id="toAzaveaDepart" class="listItem intervalA">...</div>
                            <div id="toAzaveaArrive" class="listItem timePoint">...</div>
                            <div class="listItem control"><a onclick=""></a></div>
                            <div id="toAzaveaSteps" class="stepType"><b class="step Walk"></b><b class="step Train"></b><b class="step Bus"></b><b class="step walk"></b></div>
                    </dt>
                    <dd>
                        <table id="azaveaSteps" class="steps">
                        <tr>
                            <td>
                                <p><b class="step Walk"></b> Walk to ??stop location$$</p><p><span class="parenthetical">About ??walktime$$ mins (??walk distance$$ mi)</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b class="step Train"></b>??Train line & Number$$</p><p>4:43pm - 5:57pm <span class="parenthetical">(??time$$ mins ??number$$ stops)</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b class="step Bus"></b>??Bus line & Number$$</p><p>4:43pm - 5:57pm <span class="parenthetical">(??time$$ mins ??number$$ stops)</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b class="step Walk"></b> Walk to ??stop location$$</p><p><span class="parenthetical">About ??walktime$$ mins (??walk distance$$ mi)</span></p>
                            </td>
                        </tr>
                        </table>
                    </dd>
                </dl>
            </li>
            <li class="location">
                <dl class="origin">
                    <dt class="accessAid">
                        <div>Status</div>
                        <div>Destination</div>
                        <div>Must Leave By</div>
                        <div>Should Arrive By</div>
                        <div>Control</div>
                        <div>Steps</div>
                    </dt>
                    <dt id="header">
                            <h3 class="listItem placeName">Zoo</h3>
                            <div class="listItem statusTags"><!-- <b class="advisory"></b> --></div>
                            <div id="toMuseumDepart" class="listItem intervalA">...</div>
                            <div id="toMuseumArrive" class="listItem timePoint">...</div>
                            <div class="listItem control"><a onclick=""></a></div>
                            <div id="toMuseumSteps" class="stepType"><b class="step Walk"></b><b class="step Train"></b><b class="step Bus"></b><b class="step Walk"></b></div>
                    </dt>
                    <dd>
                        <table id="zooSteps" class="steps">
                        <tr>
                            <td>
                                <p><b class="step Walk"></b> Walk to ??stop location$$</p><p><span class="parenthetical">About ??walktime$$ mins (??walk distance$$ mi)</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b class="step Train"></b>??Train line & Number$$</p><p>4:43pm - 5:57pm <span class="parenthetical">(??time$$ mins ??number$$ stops)</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b class="step Bus"></b>??Bus line & Number$$</p><p>4:43pm - 5:57pm <span class="parenthetical">(??time$$ mins</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b class="step Walk"></b> Walk to ??stop location$$</p><p><span class="parenthetical">About ??walktime$$ mins (??walk distance$$ mi)</span></p>
                            </td>
                        </tr>
                        </table>
                    </dd>
                </dl>
            </li>
            <li class="location">
                <dl class="origin">
                    <dt class="accessAid">
                        <div>Status</div>
                        <div>Destination</div>
                        <div>Must Leave By</div>
                        <div>Should Arrive By</div>
                        <div>Control</div>
                        <div>Steps</div>
                    </dt>
                    <dt id="header">
                            <h3 class="listItem placeName">Home</h3>
                            <div class="listItem statusTags"><!-- <b class="advisory"></b> --></div>
                            <div id="toHomeDepart" class="listItem intervalA">...</div>
                            <div id="toHomeArrive" class="listItem timePoint">...</div>
                            <div class="listItem control"><a onclick=""></a></div>
                            <div id="toHomeSteps" class="stepType"><b class="step Walk"></b><b class="step Train"></b><b class="step Bus"></b><b class="step Walk"></b></div>
                    </dt>
                    <dd>
                        <table id="homeSteps" class="steps">
                        <tr>
                            <td>
                                <p><b class="step Walk"></b> Walk to ??stop location$$</p><p><span class="parenthetical">About ??walktime$$ mins (??walk distance$$ mi)</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b class="step Train"></b>??Train line & Number$$</p><p>4:43pm - 5:57pm <span class="parenthetical">(??time$$ mins ??number$$ stops)</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b class="step Bus"></b>??Bus line & Number$$</p><p>4:43pm - 5:57pm <span class="parenthetical">(??time$$ mins</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b class="step Walk"></b> Walk to ??stop location$$</p><p><span class="parenthetical">About ??walktime$$ mins (??walk distance$$ mi)</span></p>
                            </td>
                        </tr>
                        </table>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>                
</section>
    
<script>
(function(){
    var root = $('#destinationList');
    var clickableTable = root.find('.location .origin #header');
    var mockData = [];
    var template = [];
    var toggleOld;

    $('#toAzaveaSteps').html('');
    $('#azaveaSteps').html('');
    $('#toMuseumSteps').html('');
    $('#zooSteps').html('');
    $('#toHomeSteps').html('');
    $('#homeSteps').html('');

    function formatTime(date) {
        var curr_hour = date.getHours();

        if (curr_hour < 12) {
           a_p = "AM";
        } else {
           a_p = "PM";
        }
        if (curr_hour == 0) {
           curr_hour = 12;
        } 
        if (curr_hour > 12) {
           curr_hour = curr_hour - 12;
        }

        var curr_min = date.getMinutes();
        if (curr_min < 10) {
            curr_min = '0' + curr_min;
        }

        return curr_hour + ":" + curr_min + " " + a_p;
    }

    function showHideTable(t) {
        //console.log(toggleOld + " : " + t);
        if(toggleOld != t){
            $(toggleOld).parent().find('.steps').toggleClass('show');
            $(toggleOld).toggleClass('show');
            toggleOld = t;
        }else{
            toggleOld = null;
        }
        $(t).parent().find('.steps').toggleClass('show');
        $(t).toggleClass('show');
    }
    
    
    $(clickableTable).click(function(evt) {
        showHideTable(this);        
    });

    var updateDestinations = function() {
        $.ajax('/from/1234_market_st_philadelphia/to/340_n_12th_st_philadelphia', {
            dataType: 'json',
            success: function(data) {
                $('#toAzaveaSteps').html('');
                $('#azaveaSteps').html('');
                var route = data[0];
                var now = new Date();
                var arrive = new Date(now.getFullYear(), now.getMonth(), now.getDate(), now.getHours(), now.getMinutes(), route.durationInSeconds)
                var lastStepType;
                if (route.steps[0].type === 'Walk') {
                    $('#toAzaveaDepart').text('Now');
                }
                $('#toAzaveaArrive').text(formatTime(arrive));
                $('#toAzaveaSteps').html('');
                var $steps = $('#azaveaSteps');
                $steps.html('');
                $.each(route.steps, function(index, step) {
                    var $row = $('<tr>').appendTo($steps);
                    var $col = $('<td>').appendTo($row);
                    var $p = $('<p>').appendTo($col).text(step.instruction.text);
                    $('<b>', {'class': 'step ' + step.type}).prependTo($p);

                                          // 
                                          // <tr>
                                          //       <td>
                                          //           <p><b class="step Walk"></b> Walk to ??stop location$$</p><p><span class="parenthetical">About ??walktime$$ mins (??walk distance$$ mi)</span></p>
                                          //       </td>
                                          //   </tr>


                    if (lastStepType !== 'Walk' || step.type !== 'Walk') {
                        $('#toAzaveaSteps').append($('<b>', { 'class': 'step ' + step.type }));
                    }
                    lastStepType = step.type;
                });
            }
        });

        $.ajax('/from/1234_market_st_philadelphia/to/3400%20W%20Girard%20Ave%20Philadelphia', {
            dataType: 'json',
            success: function(data) {
                $('#toMuseumSteps').html('');
                $('#zooSteps').html('');
                var route = data[0];
                var lastStepType;
                var secondsToFirstTransitStep = 0;
                var firstTransitStep;
                var arrive = new Date();

                var $steps = $('#zooSteps');
                $steps.html('');

                $.each(route.steps, function(index, step) {
                     var $row = $('<tr>').appendTo($steps);
                        var $col = $('<td>').appendTo($row);
                        var $p = $('<p>').appendTo($col).text(step.instruction.text);
                        $('<b>', {'class': 'step ' + step.type}).prependTo($p);

                    if (firstTransitStep === undefined) {
                        if (step.type === 'Walk') {
                            secondsToFirstTransitStep += step.durationInSeconds;
                        } else {
                            firstTransitStep = step;
                        }
                    }
                    if (lastStepType !== 'Walk' || step.type !== 'Walk') {
                        $('#toMuseumSteps').append($('<b>', { 'class': 'step ' + step.type }));
                    }
                    lastStepType = step.type;
                    if (step.type === 'Walk') {
                        arrive = arrive.add(step.durationInSeconds).seconds();
                    } else {
                        arrive = Date.parse(step.transitDetails.arrive_time).add(-5).hours();
                    }
                });

                if(firstTransitStep === undefined) {
                    $('#toMuseumDepart').text('Now');
                    var arrive = (new Date()).add(route.durationInSeconds).seconds();
                } else {
                    var depart = Date.parse(firstTransitStep.transitDetails.depart_time).add(-5).hours().add(-1 * secondsToFirstTransitStep).seconds()
                    $('#toMuseumDepart').text(formatTime(depart));
                }

                $('#toMuseumArrive').text(formatTime(arrive));
            }
        });

        $.ajax('/from/1234_market_st_philadelphia/to/126_merion_Ave_west_conshohocken', {
            dataType: 'json',
            success: function(data) {
                $('#toHomeSteps').html('');
                $('#homeSteps').html('');
                var route = data[0];
                var lastStepType;
                var secondsToFirstTransitStep = 0;
                var firstTransitStep;
                var arrive = new Date();

                var $steps = $('#homeSteps');
                $steps.html('');

                $.each(route.steps, function(index, step) {
                     var $row = $('<tr>').appendTo($steps);
                        var $col = $('<td>').appendTo($row);
                        var $p = $('<p>').appendTo($col).text(step.instruction.text);
                        $('<b>', {'class': 'step ' + step.type}).prependTo($p);

                    if (firstTransitStep === undefined) {
                        if (step.type === 'Walk') {
                            secondsToFirstTransitStep += step.durationInSeconds;
                        } else {
                            firstTransitStep = step;
                        }
                    }
                    if (lastStepType !== 'Walk' || step.type !== 'Walk') {
                        $('#toHomeSteps').append($('<b>', { 'class': 'step ' + step.type }));
                    }
                    lastStepType = step.type;
                    if (step.type === 'Walk') {
                        arrive = arrive.add(step.durationInSeconds).seconds();
                    } else {
                        arrive = Date.parse(step.transitDetails.arrive_time).add(-5).hours();
                    }
                });

                if(firstTransitStep === undefined) {
                    $('#toHomeDepart').text('Now');
                    var arrive = (new Date()).add(route.durationInSeconds).seconds();
                } else {
                    var depart = Date.parse(firstTransitStep.transitDetails.depart_time).add(-5).hours().add(-1 * secondsToFirstTransitStep).seconds()
                    $('#toHomeDepart').text(formatTime(depart));
                }

                $('#toHomeArrive').text(formatTime(arrive));
            }
        });
    };
        
    updateDestinations();
    setInterval(function() { updateDestinations(); }, 15000);

})();
</script>
