<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link type="text/css" rel="stylesheet" href="static/css/transitboard.css" media="screen" />
        <link type="text/css" rel="stylesheet" href="static/css/mtransitboard.css" media="screen and (max-device-width: 480px)" />
        <script src="static/js/jquery.min.js" type="text/javascript"></script>
        <script src="static/js/jquery.mustache.js" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <h1 class="home header accessAid">basic header info</h1>
            <nav>
                <ul>
                    <li id="home">TRAVEL BOARD</li>
                    <li id="settings" class="accessAid"><a href="#">Settings</a></li>
                    <li id="about" class="accessAid"><a href="#">About</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div id="origin">
                <h3 class="originName">Home</h3>
                <div class="newLocation"></div>
                <div><a href="#"  class="currentLocation"></a></div>
            </div>
        </section>
        <section>
            <div id="destinationList">
                <ul>
                    <li class="location">
                        <dl class="origin">
                            <dt class="accessAid">
                                <div>Destination</div>
                                <div>Status</div>
                                <div>Must Leave By</div>
                                <div>Should Arrive By</div>
                                <div>Control</div>
                                <div>Steps</div>
                            </dt>
                            <dt id="header">
                                    <h3 class="listItem placeName">Grocery Store</h3>
                                    <div class="listItem statusTags"></div>
                                    <div class="listItem intervalA">5 mins</div>
                                    <div class="listItem timePoint">3:35pm</div>
                                    <div class="listItem control"><a onclick=""></a></div>
                                    <div class="stepType"><b class="step walk"></b><b class="step train"></b><b class="step bus"></b><b class="step walk"></b></div>
                            </dt>
                            <dd>
                                <table class="steps">
                                <tr>
                                    <td>
                                        <p><b class="step walk"></b> Walk to ??stop location$$</p><p><span class="parenthetical">About ??walktime$$ mins (??walk distance$$ mi)</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b class="step train"></b>??Train line & Number$$</p><p>4:43pm - 5:57pm <span class="parenthetical">(??time$$ mins ??number$$ stops)</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b class="step bus"></b>??Bus line & Number$$</p><p>4:43pm - 5:57pm <span class="parenthetical">(??time$$ mins ??number$$ stops)</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b class="step walk"></b> Walk to ??stop location$$</p><p><span class="parenthetical">About ??walktime$$ mins (??walk distance$$ mi)</span></p>
                                    </td>
                                </tr>
                                </table>
                            </dd>
                        </dl>
                    </li>
                    <li class="location">
                        <dl class="origin">
                            <dt class="accessAid">
                                <div>Status</div>
                                <div>Destination</div>
                                <div>Must Leave By</div>
                                <div>Should Arrive By</div>
                                <div>Control</div>
                                <div>Steps</div>
                            </dt>
                            <dt id="header">
                                    <h3 class="listItem placeName">Gym</h3>
                                    <div class="listItem statusTags"><b class="advisory"></b></div>
                                    <div class="listItem intervalA">45 mins</div>
                                    <div class="listItem timePoint">10:17pm</div>
                                    <div class="listItem control"><a onclick=""></a></div>
                                    <div class="stepType"><b class="step walk"></b><b class="step train"></b><b class="step bus"></b><b class="step walk"></b></div>
                            </dt>
                            <dd class="steps">
                                <table>
                                <tr>
                                    <td>
                                        <p><b class="step walk"></b> Walk to ??stop location$$</p><p><span class="parenthetical">About ??walktime$$ mins (??walk distance$$ mi)</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b class="step train"></b>??Train line & Number$$</p><p>4:43pm - 5:57pm <span class="parenthetical">(??time$$ mins ??number$$ stops)</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b class="step bus"></b>??Bus line & Number$$</p><p>4:43pm - 5:57pm <span class="parenthetical">(??time$$ mins</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b class="step walk"></b> Walk to ??stop location$$</p><p><span class="parenthetical">About ??walktime$$ mins (??walk distance$$ mi)</span></p>
                                    </td>
                                </tr>
                                </table>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
                        
        </section>
        <footer>
            
        </footer>
    </body>
    <footer>
    </footer>
</html>

<script id="templateTest" type="x-tmpl-mustache">

    ??#Sections$$
        <ul>
        <li class="location">
            <dl class="origin">
                <dt id="header">
                    <h3 class="listItem placeName">??PlaceName$$</h3>
                    <div class="listItem statusTags">??StatusTag$$</div>
                    <div class="listItem intervalA">??ArrivalTime$$</div>
                    <div class="listItem timePoint">??DestinationTime$$</div>
                    <div class="listItem control"><a onclick=""></a></div>
                    <div class="stepType">??#Steps$$<b class="step ??IconType$$"></b>??/Steps$$</div>
                </dt>
                <dd class="steps">
                    <table>
                    ??#Routes$$
                    <tr>
                        <td>
                            <p><b class="step ??IconType$$"></b> ??Message$$</p><p><span class="parenthetical">About ??Time$$ ??Distance$$</span></p>
                        </td>
                    </tr>
                    ??/Routes$$
                    </table>
                </dd>
            </dl>
        </li>
		</ul>
    ??/Sections$$

</script>
    
<script>
(function(){
    var root = $('#destinationList');
    var clickableTable = root.find('.location .origin #header');
    var mockData = [];
    var template = [];
    var toggleOld;


    function showHideTable(t) {
        //console.log(toggleOld + " : " + t);
        if(toggleOld != t){
            $(toggleOld).parent().find('.steps').toggleClass('show');
            $(toggleOld).toggleClass('show');
            toggleOld = t;
        }else{
            toggleOld = null;
        }
        $(t).parent().find('.steps').toggleClass('show');
        $(t).toggleClass('show');
    }
    
    
    $(clickableTable).click(function(evt) {
        showHideTable(this);        
    });

})();

var data = 
{
    [
    {
        "distance_in_miles": 0.201324,
        "steps": [
            {
                "distance_in_miles": 0.198839,
                "instruction": {
                    "text": "Walk: From 100 Walnut St, Philadelphia, PA 19106 to 3rd St & Walnut St",
                    "maneuverType": "DepartStart"
                },
                "type": "Walk",
                "duration_in_seconds": 230
            },
            {
                "instruction": {
                    "text": "Bus: Take 57 - Fern Rock Transportation Ctr",
                    "maneuverType": "TakeTransit"
                },
                "type": "Bus",
                "duration_in_seconds": 420,
                "transit_details": {
                    "name": "South Phila to Fern Rock Trans Cent",
                    "alerts": [
                        {
                            "current_message": "",
                            "route_name": "57"
                        }
                    ],
                    "depart_stop_id": 3951,
                    "arrive_time": "2011-10-09T16:27:00",
                    "arrive_stop_id": 3976,
                    "depart_from": "3rd St & Walnut St",
                    "arrive_at": "3rd St & Poplar St",
                    "line": "57",
                    "depart_time": "2011-10-09T16:20:00",
                    "detours": [
                        {
                            "route_info": [
                                {
                                    "current_message": "",
                                    "reason": "",
                                    "route_direction": ""
                                }
                            ],
                            "route_id": ""
                        }
                    ]
                }
            },
            {
                "distance_in_miles": 0.002485,
                "instruction": {
                    "text": "Walk: From 3rd St & Poplar St to 908 N 3RD St, Philadelphia, PA 19123",
                    "maneuverType": "ArriveFinish"
                },
                "type": "Walk",
                "duration_in_seconds": 2
            }
        ],
        "duration_in_seconds": 652
    }
    ]
};            

$(function(){
    $('#templateTest').mustache(data).appendTo('#destinationList');
});

</script>
